@import "~bootstrap/scss/bootstrap.scss";

#cable{
    background: black;
    //border: 1px solid black;
    margin-left: 80px;
    height: 70px;
    width: 20px;
}

#container{
    background: black;
    height: 320px;
    width: 150px;
    border-radius: 10px;
    margin-left: 60px;
    padding: 7px;
}

.luz{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    padding:4px;
    cursor: pointer;


 &.roja{
  background-color: red;
}


&.anaranjada{
  background-color: orange;
}

&.verde{
    background-color: green;
}

}

.cambiarluz{
    background-color: lightgray;
}